@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

body {
  background-color: whitesmoke;
  margin-top: 100px;
  overflow-x: hidden;
}
body main {
  margin-top: 150px;
}
body h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #191916;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav .navLogo {
  margin-right: auto;
}
nav .navLogo img {
  height: 100px;
  width: auto;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
}
nav ul li {
  list-style: none;
  padding: 0 25px;
  position: relative;
}
nav ul li:before {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.2s ease;
  bottom: -3px;
  left: 25px;
}
nav ul li:hover:before, nav ul li.active:before {
  transform: scaleX(1);
}

.modal-open-button {
  display: none;
}

button {
  background-color: black;
  margin-left: 200px;
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 500;
}

/* Footer */
footer {
  height: 340px;
  width: 100vw;
  background-color: #191916;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 50px;
  margin-top: 40px;
}
footer .footer-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
footer .footer-links a {
  text-decoration: none;
  color: white;
}
footer .footer-links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
footer .media-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
  margin-bottom: 10px;
}
footer .media-info img {
  width: 45px;
  height: auto;
  margin-top: 20px;
}
footer .copy-right {
  margin-top: 40px;
  color: rgb(149, 146, 146);
  margin-bottom: 45px;
}
footer .copy-right a {
  color: whitesmoke;
  text-decoration: none;
}
footer .footer-logo {
  height: 80px;
  width: auto;
}

body .home-container {
  margin-top: 0;
}
body .home-container .landing-img {
  width: 100%;
  height: auto;
}
body .home-container .byTanne {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .home-container .byTanne h1 {
  margin-top: 50px;
}
body .home-container .byTanne h2 {
  text-transform: uppercase;
}
body .home-container .card-container {
  margin-bottom: 30px;
}
body .home-container .card-container .work-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 8px;
  background-color: rgba(154, 146, 123, 0.1333333333);
  box-shadow: 25px 25px 76px 8px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  width: fit-content;
}
body .home-container .card-container .work-card img {
  width: 584px;
  height: 730px;
  border-radius: 8px;
  object-fit: cover;
}
body .home-container .card-container .work-card .work-description {
  text-align: justify;
  padding: 30px;
  width: 584px;
  height: 730px;
  line-height: 30px;
}
body .home-container .card-container .work-card .work-description h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 600;
}
body .home-container .card-container .work-card.card-one .black-label, body .home-container .card-container .work-card.card-three .black-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -75px;
  margin-right: -75px;
  color: #fff;
  background-color: black;
  margin-bottom: 40px;
  width: 544px;
  height: 43px;
}
body .home-container .card-container .work-card.card-one .black-label .label-text, body .home-container .card-container .work-card.card-three .black-label .label-text {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}
body .home-container .card-container .work-card.card-two .black-label-left, body .home-container .card-container .work-card.card-four .black-label-left {
  position: relative;
  z-index: 10;
  margin-left: 75px;
  margin-right: 75px;
  background-color: black;
  color: white;
  padding: 10px;
  color: #fff;
  margin-bottom: 40px;
  width: 544px;
  height: 43px;
}
body .home-container .card-container .work-card.card-two .black-label-left .label-text, body .home-container .card-container .work-card.card-four .black-label-left .label-text {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}
body .home-container .card-container .work-card.card-two .work-img-left, body .home-container .card-container .work-card.card-four .work-img-left {
  position: relative;
  z-index: 1;
}
body .home-container .more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
body .home-container .more-projects h2 {
  color: rgb(80, 80, 80);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}
body .home-container .more-projects .more-button {
  width: 300px;
  height: auto;
  background-color: black;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 23px 33px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

body .data-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
body .data-container .data {
  height: 600px;
  width: 80vw;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  background-color: rgba(154, 146, 123, 0.1333333333);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body .data-container .data img {
  height: 650px;
}
body .data-container .data div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 0 0 120px;
}
body .data-container .data div h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
body .data-container .data div p {
  text-align: justify;
  line-height: 35px;
  margin: 0;
  padding: 5px;
}
body .data-container .data div button {
  margin: 40px;
}
body .data-container .data button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 40px;
}
body .data-container .data button a {
  text-decoration: none;
  color: white;
}

body .portfolio-container {
  width: 90%;
  margin: auto;
}
body .portfolio-container h1 {
  text-align: center;
  margin-top: 150px;
}
body .portfolio-container .img-portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
  gap: 15px;
}
body .portfolio-container .img-portfolio-container .img-wrapper {
  position: relative;
}
body .portfolio-container .img-portfolio-container .img-wrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
body .portfolio-container .img-portfolio-container .img-wrapper .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-transform: uppercase;
}
body .portfolio-container .img-portfolio-container .img-wrapper:hover img {
  filter: brightness(30%);
}
body .portfolio-container .img-portfolio-container .img-wrapper:hover .overlay-text {
  opacity: 1;
}

body .blog-container main,
body .blog-container h1 {
  margin: 50px auto;
  text-align: center;
}
body .blog-container .blog-title {
  margin-bottom: 10px;
}
body .blog-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 40px auto 100px auto;
  text-align: justify;
  line-height: 35px;
  background-color: rgba(154, 146, 123, 0.1333333333);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 40px;
}
body .blog-container section div p {
  text-align: justify;
  width: 100%;
  padding: 20px 100px;
}
body .blog-container section div button {
  margin: 50px auto;
}
body .blog-container h2 {
  text-align: center;
  margin: 60px;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
body .blog-container img {
  display: block;
  max-width: 100%;
  height: 900px;
  margin: 25px auto;
}
body .blog-container button {
  display: block;
  margin: 20px auto;
}
body .blog-container button a {
  text-decoration: none;
  color: white;
}

body .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 140px auto 50px auto;
  padding: 20px;
  background-color: rgba(154, 146, 123, 0.1333333333);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body .contact-container img {
  height: 650px;
}
body .contact-container aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
}
body .contact-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .contact-container section h1 {
  margin-bottom: 30px;
  justify-content: start;
  align-content: start;
}
body .contact-container section .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .contact-container section .contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
body .contact-container section .contact-form input,
body .contact-container section .contact-form textarea {
  width: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: none;
}
body .contact-container section .contact-form input::placeholder,
body .contact-container section .contact-form textarea::placeholder {
  padding-left: 3px;
}
body .contact-container section .contact-form input:focus,
body .contact-container section .contact-form textarea:focus {
  border: 2px solid black;
  outline: none;
}
body .contact-container section .contact-form .send-button {
  margin: 30px;
}
body .contact-container section .contact-form .send-button button {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body h1 {
    color: black;
    font-size: 2rem;
    font-weight: 500;
  }
  /* Nav bar */
  header nav ul {
    display: none;
  }
  header nav .modal-open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }
  header nav .modal-open-button img {
    width: 40px;
    height: 40px;
  }
  header nav .modal-open-button:focus, header nav .modal-open-button:active {
    outline: none;
    border: none;
  }
  header nav .navLogo img {
    height: 90px;
    width: auto;
  }
  header .modal-dialog {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  header .modal-content {
    background-color: #191916;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  header .modal-body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 50px;
    margin-bottom: 300px;
    list-style: none;
  }
  header .modal-body ul li {
    position: relative;
  }
  header .modal-body ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.2s ease;
    bottom: -4px;
    left: 0;
  }
  header .modal-body ul li:hover:before {
    transform: scaleX(1);
  }
  header .modal-body ul li a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  header .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
  }
  header .mobile-logo {
    display: none;
  }
  header .btn-close {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    margin-right: 35px;
  }
  header .btn-close img {
    width: 40px;
    height: 40px;
  }
  header .btn-close:active, header .btn-close:focus, header .btn-close:hover {
    box-shadow: none;
  }
  /* Landing page */
  body .home-container .byTanne {
    margin-top: 30px;
  }
  body .home-container .byTanne h1 {
    margin: 0;
    margin-bottom: 10px;
  }
  body .home-container .byTanne h2 {
    margin: 0;
    font-weight: 400;
  }
  body .home-container .card-container {
    margin-bottom: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
  }
  body .home-container .card-container .work-card.card-one,
  body .home-container .card-container .work-card.card-two,
  body .home-container .card-container .work-card.card-three,
  body .home-container .card-container .work-card.card-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 0;
    margin: 20px 0;
    width: 100%;
    background-color: whitesmoke;
  }
  body .home-container .card-container .work-card.card-one .black-label,
  body .home-container .card-container .work-card.card-one .black-label-left,
  body .home-container .card-container .work-card.card-two .black-label,
  body .home-container .card-container .work-card.card-two .black-label-left,
  body .home-container .card-container .work-card.card-three .black-label,
  body .home-container .card-container .work-card.card-three .black-label-left,
  body .home-container .card-container .work-card.card-four .black-label,
  body .home-container .card-container .work-card.card-four .black-label-left {
    display: none;
  }
  body .home-container .card-container .work-card.card-one .work-description,
  body .home-container .card-container .work-card.card-two .work-description,
  body .home-container .card-container .work-card.card-three .work-description,
  body .home-container .card-container .work-card.card-four .work-description {
    width: 100%;
    max-height: 100%;
    padding: 5px 15px;
    box-shadow: none;
  }
  body .home-container .card-container .work-card.card-one .work-description h2,
  body .home-container .card-container .work-card.card-two .work-description h2,
  body .home-container .card-container .work-card.card-three .work-description h2,
  body .home-container .card-container .work-card.card-four .work-description h2 {
    margin: 10px 0;
  }
  body .home-container .card-container .work-card.card-one .work-description p,
  body .home-container .card-container .work-card.card-two .work-description p,
  body .home-container .card-container .work-card.card-three .work-description p,
  body .home-container .card-container .work-card.card-four .work-description p {
    margin: 5px 0;
  }
  body .home-container .card-container .work-card.card-one .work-img,
  body .home-container .card-container .work-card.card-one .work-img-left,
  body .home-container .card-container .work-card.card-two .work-img,
  body .home-container .card-container .work-card.card-two .work-img-left,
  body .home-container .card-container .work-card.card-three .work-img,
  body .home-container .card-container .work-card.card-three .work-img-left,
  body .home-container .card-container .work-card.card-four .work-img,
  body .home-container .card-container .work-card.card-four .work-img-left {
    width: 100%;
    height: 450px;
    object-fit: fill;
    border-radius: 0;
    order: -1;
  }
  body .home-container .card-container .card-one {
    height: 1120px;
  }
  body .home-container .card-container .card-two {
    height: 1110px;
  }
  body .home-container .card-container .card-three {
    height: 1000px;
    box-shadow: none;
  }
  body .home-container .card-container .card-four {
    height: 930px;
  }
  body .home-container .landing-img {
    width: 100vw;
    height: 100vh;
    margin-top: -20px;
    object-fit: cover;
  }
  body .home-container .more-projects {
    background-color: whitesmoke;
    margin-top: 30px;
  }
  body .home-container .more-projects h2 {
    font-weight: 600;
    color: black;
  }
  /* Portfolio */
  body .portfolio-container {
    width: 100%;
    margin: 0;
  }
  body .portfolio-container h1 {
    margin-top: 130px;
  }
  body .portfolio-container .img-portfolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  body .portfolio-container .img-portfolio-container .img-wrapper:last-of-type {
    display: none;
  }
  /* About page */
  body .data-container .data {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: auto;
    margin: 0;
    padding: 0;
  }
  body .data-container .data img {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  body .data-container .data div {
    padding: 20px;
    margin: 0;
  }
  body .data-container .data div h1 {
    margin: 0;
    margin-bottom: 20px;
  }
  body .data-container .data div p {
    text-align: justify;
    padding: 5px;
    line-height: 28px;
    font-weight: 350;
  }
  body .data-container .data button {
    margin: 15px auto 40px auto;
  }
  body .data-container .data button a {
    text-decoration: none;
    color: white;
  }
  /* Blog page */
  body .blog-container {
    margin: 120px 0 50px 0;
    background-color: whitesmoke;
  }
  body .blog-container .blog-title {
    padding-top: 20px;
  }
  body .blog-container section {
    width: 100vw;
    margin: 0;
    box-shadow: none;
    padding: 20px;
    background-color: whitesmoke;
  }
  body .blog-container section h2 {
    line-height: 40px;
    margin: 5px;
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
  }
  body .blog-container section div img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }
  body .blog-container section div p {
    padding: 20px;
    margin: 0;
  }
  body .blog-container section button {
    margin: 60px auto;
  }
  body .blog-container section button a {
    text-decoration: none;
    color: white;
  }
  /* Contact page */
  body .contact-container {
    width: 100%;
    max-height: 100%;
    padding: 0;
    margin-top: 130px;
    margin-bottom: 20px;
    box-shadow: none;
    background-color: whitesmoke;
  }
  body .contact-container section {
    width: 100%;
  }
  body .contact-container section .contact-form {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
  }
  body .contact-container section .contact-form input {
    width: 100%;
  }
  body .contact-container section .contact-form textarea {
    width: 100%;
  }
  body .contact-container aside {
    display: none;
  }
  body .contact-container .send-button {
    margin: 0;
  }
  body .contact-container .send-button button {
    margin: 0;
  }
}
/* MQ tablets */
@media screen and (min-width: 481px) and (max-width: 1050px) {
  /* Nav bar */
  header nav ul {
    display: none;
  }
  header nav .modal-open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }
  header nav .modal-open-button img {
    width: 40px;
    height: 40px;
  }
  header nav .modal-open-button:focus, header nav .modal-open-button:active {
    outline: none;
    border: none;
  }
  header nav .navLogo img {
    height: 90px;
    width: auto;
  }
  header .modal-dialog {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  header .modal-content {
    background-color: #191916;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  header .modal-body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 50px;
    margin-bottom: 300px;
    list-style: none;
  }
  header .modal-body ul li {
    position: relative;
  }
  header .modal-body ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.2s ease;
    bottom: -4px;
    left: 0;
  }
  header .modal-body ul li:hover:before {
    transform: scaleX(1);
  }
  header .modal-body ul li a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  header .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
  }
  header .mobile-logo {
    display: none;
  }
  header .btn-close {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    margin-right: 35px;
  }
  header .btn-close img {
    width: 40px;
    height: 40px;
  }
  header .btn-close:active, header .btn-close:focus, header .btn-close:hover {
    box-shadow: none;
  }
  /* Landing page */
  body .home-container .card-container {
    margin-bottom: 0;
    background-color: mobile-background-color;
    width: 100%;
    height: 100%;
  }
  body .home-container .card-container .work-card.card-one,
  body .home-container .card-container .work-card.card-two,
  body .home-container .card-container .work-card.card-three,
  body .home-container .card-container .work-card.card-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 0;
    margin: 30px 0;
    width: 100%;
    background-color: mobile-background-color;
  }
  body .home-container .card-container .work-card.card-one .black-label,
  body .home-container .card-container .work-card.card-one .black-label-left,
  body .home-container .card-container .work-card.card-two .black-label,
  body .home-container .card-container .work-card.card-two .black-label-left,
  body .home-container .card-container .work-card.card-three .black-label,
  body .home-container .card-container .work-card.card-three .black-label-left,
  body .home-container .card-container .work-card.card-four .black-label,
  body .home-container .card-container .work-card.card-four .black-label-left {
    display: none;
  }
  body .home-container .card-container .work-card.card-one .work-description,
  body .home-container .card-container .work-card.card-two .work-description,
  body .home-container .card-container .work-card.card-three .work-description,
  body .home-container .card-container .work-card.card-four .work-description {
    width: 100%;
    max-height: 100%;
    padding: 5px 15px;
    box-shadow: none;
  }
  body .home-container .card-container .work-card.card-one .work-description h2,
  body .home-container .card-container .work-card.card-two .work-description h2,
  body .home-container .card-container .work-card.card-three .work-description h2,
  body .home-container .card-container .work-card.card-four .work-description h2 {
    margin: 10px 0;
  }
  body .home-container .card-container .work-card.card-one .work-description p,
  body .home-container .card-container .work-card.card-two .work-description p,
  body .home-container .card-container .work-card.card-three .work-description p,
  body .home-container .card-container .work-card.card-four .work-description p {
    margin: 5px 0;
  }
  body .home-container .card-container .work-card.card-one .work-img,
  body .home-container .card-container .work-card.card-one .work-img-left,
  body .home-container .card-container .work-card.card-two .work-img,
  body .home-container .card-container .work-card.card-two .work-img-left,
  body .home-container .card-container .work-card.card-three .work-img,
  body .home-container .card-container .work-card.card-three .work-img-left,
  body .home-container .card-container .work-card.card-four .work-img,
  body .home-container .card-container .work-card.card-four .work-img-left {
    width: 100%;
    height: 600px;
    object-fit: fill;
    border-radius: 0;
    order: -1;
  }
  body .home-container .card-container .card-one {
    height: 1100px;
  }
  body .home-container .card-container .card-two {
    height: 1100px;
  }
  body .home-container .card-container .card-three {
    height: 1100px;
  }
  body .home-container .card-container .card-four {
    height: 1100px;
  }
  body .home-container .landing-img {
    width: 100vw;
    height: 100vh;
    margin-top: -20px;
    object-fit: cover;
  }
  body .home-container .more-projects {
    background-color: mobile-background-color;
    margin-top: 30px;
  }
  body .home-container .more-projects h2 {
    font-weight: 600;
    color: black;
  }
  /* Portfolio */
  body .portfolio-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .portfolio-container .img-portfolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 5px;
  }
  /* About page */
  body .data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .data-container .data {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: mobile-background-color;
    height: auto;
    margin: 0;
    padding: 0;
  }
  body .data-container .data img {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  body .data-container .data div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
  }
  body .data-container .data div h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bolder;
  }
  body .data-container .data div p {
    text-align: justify;
    padding: 20px;
    line-height: 30px;
    font-weight: 350;
  }
  body .data-container .data button {
    margin: 15px auto 40px auto;
  }
  body .data-container .data button a {
    text-decoration: none;
    color: white;
  }
  /* Blog page */
  body .blog-container {
    margin: 120px 0 50px 0;
    background-color: mobile-background-color;
  }
  body .blog-container h1 {
    font-size: 60px;
  }
  body .blog-container .blog-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  body .blog-container section {
    width: 100vw;
    margin: 0;
    box-shadow: none;
    padding: 20px;
    background-color: mobile-background-color;
  }
  body .blog-container section h2 {
    line-height: 40px;
    margin: 10px;
  }
  body .blog-container section div p,
  body .blog-container section div h1 {
    padding: 20px;
    margin: 0;
  }
  body .blog-container section img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }
  body .blog-container section button {
    margin: 60px auto;
  }
  body .blog-container section button a {
    text-decoration: none;
    color: white;
  }
  /* Contact page */
  body .contact-container {
    width: 100%;
    max-height: 100%;
    padding: 0;
    margin-top: 130px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background-color: mobile-background-color;
  }
  body .contact-container section {
    width: 100%;
  }
  body .contact-container section .contact-form {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
  }
  body .contact-container section .contact-form input {
    width: 100%;
  }
  body .contact-container section .contact-form textarea {
    width: 100%;
  }
  body .contact-container section .contact-form h1 {
    font-weight: bolder;
    margin: 30px 0;
    font-size: 60px;
  }
  body .contact-container aside {
    display: none;
  }
  body .contact-container .send-button {
    margin: 0;
  }
  body .contact-container .send-button button {
    margin: 0;
  }
}
@media screen and (min-width: 901px) and (max-width: 1499px) {
  header nav ul li {
    padding: 14px;
  }
  /* Portfolio */
  body .portfolio-container {
    width: 90%;
  }
  body .portfolio-container .img-portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  body .portfolio-container .img-portfolio-container img {
    width: 100%;
    object-fit: cover;
  }
  body .portfolio-container .img-portfolio-container img:last-child {
    display: none;
  }
  /* About Me */
  body .data-container .data {
    display: inline-flex;
    height: 700px;
    margin: 80px auto;
    width: 90%;
    padding: 20px;
  }
  body .data-container .data img {
    height: 600px;
    width: 100%;
  }
  body .data-container .data section {
    height: 100%;
  }
  body .data-container .data div {
    width: 100%;
    margin: 0;
  }
  body .data-container .data div h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body .data-container .data div p {
    text-align: justify;
    line-height: 30px;
    margin: 0;
    padding: 5px;
  }
  body .data-container .data div button {
    margin: 40px;
  }
  /* Blog */
  body .blog-container {
    margin-bottom: 100px;
    width: 100%;
  }
  body .blog-container section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  body .blog-container section img {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 20px 120px;
  }
  body .blog-container section p {
    width: 100%;
    padding: 20px 120px;
    margin-bottom: 40px;
  }
  body .blog-container section button {
    margin-bottom: 50px;
  }
  /* Contact */
  body .contact-container {
    width: 90%;
    height: 800px;
    margin: 150px auto 100px auto;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  body .contact-container img {
    height: 600px;
  }
  body .contact-container section h1 {
    margin: 0;
  }
  body .contact-container .contact-form {
    margin-top: 20px;
  }
  body .contact-container .contact-form label {
    margin: 10px;
    font-weight: bold;
  }
  body .contact-container .contact-form input,
  body .contact-container .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
  }
  body .contact-container .contact-form textarea {
    resize: none;
  }
  body .contact-container .contact-form .send-button {
    margin-top: 50px;
  }
  body .contact-container .contact-form .send-button button {
    color: white;
    margin: 30px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  /* Global style */
  body {
    background-color: whitesmoke;
  }
  /* Landing */
  .work-card {
    height: 730px;
  }
  .work-card img {
    height: 100%;
  }
  /* About Me */
  body .data-container .data {
    display: inline-flex;
    height: 700px;
    margin: 80px auto;
    width: 90%;
    padding: 20px;
  }
  body .data-container .data img {
    height: 600px;
    width: 100%;
  }
  body .data-container .data section {
    height: 100%;
  }
  body .data-container .data div {
    width: 100%;
    margin: 0;
  }
  body .data-container .data div h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body .data-container .data div p {
    text-align: justify;
    line-height: 30px;
    margin: 0;
    padding: 5px;
  }
  body .data-container .data div button {
    margin: 40px;
  }
  /* Portfolio */
  body .portfolio-container {
    width: 100%;
    margin: 0;
    margin-top: 150px;
  }
  body .portfolio-container .img-portfolio-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  body .portfolio-container .img-portfolio-container .img-wrapper:last-of-type {
    display: none;
  }
  /* Contact */
  body .contact-container {
    width: 90%;
    margin: 150px auto 100px auto;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  body .contact-container section h1 {
    margin: 0;
  }
  body .contact-container .contact-form {
    margin-top: 20px;
  }
  body .contact-container .contact-form label {
    margin: 10px;
    font-weight: bold;
  }
  body .contact-container .contact-form input,
  body .contact-container .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
  }
  body .contact-container .contact-form textarea {
    resize: none;
  }
  body .contact-container .contact-form .send-button {
    margin-top: 50px;
  }
  body .contact-container .contact-form .send-button button {
    color: white;
    margin: 30px;
  }
  /* Blog */
  body .blog-container {
    margin-bottom: 100px;
    width: 100%;
  }
  body .blog-container section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  body .blog-container img {
    margin-top: 10px;
    width: 80%;
    height: 50%;
  }
  body .blog-container p {
    margin-bottom: 40px;
  }
  body .blog-container button {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
