@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

/* Body */
body {
  margin-top: 100px;
  & main {
    margin-top: 150px;
  }
}

body.no-scroll {
  overflow: hidden;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #191916;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .navLogo {
    display: flex;
    align-items: center;
    margin-right: auto;

    img {
      height: 100px;
      width: auto;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;

    li {
      list-style: none;
      padding: 0 25px;

      &:hover {
        text-decoration: underline;
        color: white;
        text-underline-offset: 5px;
      }
    }
  }
}
.modal-open-button {
  display: none;
}
button {
  background-color: black;
  margin-left: 200px;
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 500;
}

/* Data Section */
.data {
  background-color: #9a927b54;
  height: 600px;
  width: 90%;
  margin: 200px auto 100px auto;
  display: flex;
  flex-direction: row;
  padding: 0px 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.data img {
  height: 650px;
}

.data div {
  text-align: center;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.data div h1 {
  width: 100%;
  color: black;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20px;
}

.data div p {
  text-align: justify;
  width: 100%;
  padding: 20px;
  line-height: 30px;
  font-weight: 350;
  margin: 20px auto;
}

.data button {
  color: black;
  background-color: black;
  margin: 20px auto;
  text-decoration: none;
  color: white;
}

.data button a {
  text-decoration: none;
  color: white;
}

/* Footer */
footer {
  height: 340px;
  background-color: #191916;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 50px;
    margin-top: 40px;
  }

  .footer-links {
    margin-top: 40px;
    display: flex;
    gap: 40px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }

  .media-info {
    display: flex;
    margin-top: 40px;
    gap: 30px;
    margin-bottom: 10px;

    img {
      width: 45px;
      height: auto;
      margin-top: 20px;
    }
  }

  .copy-right {
    margin-top: 40px;
    color: rgb(149, 146, 146);
    margin-bottom: 45px;
    & a {
      color: whitesmoke;
      text-decoration: none;
    }
  }

  .footer-logo {
    height: 80px;
    width: auto;
  }
}

/* Work Card */

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.card-container {
  margin-bottom: 30px;
}

.work-card {
  display: flex;
  align-items: flex-start;
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 25px 25px 76px 8px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  width: fit-content;
  img {
    width: 584px;
    height: 700px;
    border-radius: 8px;
  }

  .work-description {
    text-align: justify;
    padding: 30px;
    width: 584px;
    height: 700px;
    line-height: 30px;

    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  &-left {
    .work-img {
      margin-right: 20px;
    }
  }

  &-right {
    .work-description {
      padding-right: 0;
    }

    .work-img {
      margin-left: 0;
    }
  }
}

.more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  text-align: center;
}

.more-projects h2 {
  color: rgb(80, 80, 80);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.more-projects .more-button {
  width: 300px;
  height: auto;
  background-color: black;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 23px 33px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

/* Black Label */
.black-label,
.black-label-left {
  color: #fff;
  background-color: #000;
  margin-bottom: 40px;
  width: 544px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .label-text {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
  }
}

.black-label {
  margin-left: -75px;
  margin-right: -75px;
}

.black-label-left {
  position: relative;
  z-index: 10;
  margin-left: 75px;
  margin-right: 75px;
  background-color: black;
  color: white;
  padding: 10px;
}

.work-img-left {
  position: relative;
  z-index: 1;
}
/* Portfolio css */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;

  margin: auto;
  & h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-weight: 700;
  }
}

.img-portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
  gap: 15px;
  & img {
    width: 450px;
    height: 450px;
    cursor: pointer;
  }
}
/* Blog */

.blog-container main,
.blog-container h1 {
  margin: 50px auto;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

.blog-title {
  margin-bottom: 10px;
}

.blog-container section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
  text-align: justify;
  line-height: 35px;
  background-color: #9a927b54;
  padding: 5px 40px;
}

.blog-container h2 {
  text-align: justify;
  text-align: center;
  margin: 60px;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.blog-container img {
  display: block;
  max-width: 100%;
  height: 900px;
  margin: 25px auto;
}
.blog-container section div p {
  text-align: justify;
  width: 100%;
  margin: 30px auto 50px auto;
}

.blog-container section div button {
  margin: 50px auto 50px auto;
}

.blog-container button {
  display: block;
  margin: 20px auto;
}

.blog-container button a {
  text-decoration: none;
  color: white;
}

/* Contact Page Styles */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-height: 750px;
  margin: 200px auto;
  background-color: #9a927b54;
  padding: 20px;
  img {
    height: 650px;
  }
}

.contact-container aside {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px;
}

.contact-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
    justify-content: start;
    align-content: start;
    font-weight: bolder;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input,
  textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: none;
  }
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding-left: 3px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid black;
  outline: none;
}

.send-button {
  display: flex;
  justify-content: center;
  margin: 0;
  button {
    margin: 0;
  }
}

/* MEDIA QUERIES */

/* MQ mobile */

@media screen and (min-width: 320px) and (max-width: 480px) {
  /* Nav bar */
  header nav ul {
    display: none;
  }

  /* Hamburguer menu modal */
  header .modal-open-button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }

  header .modal-open-button img {
    width: 40px;
    height: 40px;
  }

  header .modal-open-button:focus,
  header .modal-open-button:active {
    outline: none;
    border: none;
  }

  header .modal-dialog {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  header .modal-content {
    display: flex;
    background-color: #191916;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header .modal-body {
    display: flex;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  header .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
  }

  header .mobile-logo {
    display: none;
  }

  header .btn-close {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    margin-right: 35px;
  }

  header .btn-close img {
    width: 40px;
    height: 40px;
  }

  header .btn-close:active,
  header .btn-close:focus,
  header .btn-close:hover {
    box-shadow: none;
  }

  header .modal-body ul {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-bottom: 300px;
  }

  header .modal-body ul li a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  header .modal-body ul li a:hover {
    text-decoration: underline;
  }

  header nav .navLogo img {
    height: 90px;
    width: auto;
  }

  /* Landing page */
  .card-container {
    margin-bottom: 0;
    background-color: #9a927b22;
  }

  .work-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: none;
  }

  .work-card img {
    width: 100%;
  }

  .work-card .black-label,
  .work-card .black-label-left {
    display: none;
  }

  .work-card .work-description {
    width: 100%;
    max-height: 100%;
    padding: 15px;
    box-shadow: none;
  }

  .work-card .work-description h2 {
    margin: 5px 0;
  }

  .work-card .work-img,
  .work-card .work-img-left {
    width: 100%;
    height: 450px;
    margin: 0;
    object-fit: fill;
    border-radius: 0;
    order: -1;
    margin-bottom: 10px;
  }

  .landing-img {
    width: 100vw;
    height: 100vh;
    margin-top: -20px;
    object-fit: cover;
  }

  .more-projects {
    background-color: #9a927b22;
  }

  .more-projects h2 {
    font-weight: 600;
    color: black;
  }
  .card-one,
  .card-two,
  .card-three,
  .card-four {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .card-one {
    margin-bottom: 30px;
    height: 1100px;
  }
  .card-two {
    height: 1120px;
  }
  .card-three {
    height: 1000px;
  }
  .card-four {
    height: 1000px;
    margin-bottom: 40px;
  }
  /* Portfolio */
  .portfolio-container {
    width: 100vw;
    row-gap: 0;
    background-color: #9a927b22;
  }

  .img-portfolio-container {
    margin: 15px auto;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .img-portfolio-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .portfolio-container h1 {
    font-size: 60px;
    margin-top: 30px;
  }

  .card-container {
    height: auto;
    width: 100vw;
  }

  /* About page */
  .data-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .data {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #9a927b22;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .data img {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .data div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  .data div h1 {
    margin: 0;
    font-size: 60px;
  }

  .data div p {
    text-align: justify;
    padding: 20px;
    line-height: 25px;
    font-weight: 350;
  }

  .data button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 40px auto;
  }

  .data button a {
    text-decoration: none;
    color: white;
  }

  /* Blog page */
  .blog-container {
    margin: 0;
  }

  .blog-container h1 {
    margin: 20px 0;
    font-size: 60px;
    background-color: #9a927b22;
  }

  .blog-title {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .blog-container section {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #9a927b22;
  }

  .blog-container img {
    width: 100%;
    height: 100%;
    margin: 10px 0;
  }

  .blog-container h2 {
    line-height: 40px;
    margin: 10px;
  }

  .blog-container p,
  .blog-container h1 {
    padding: 20px;
    margin: 0;
  }

  .blog-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
  }

  .blog-container button a {
    text-decoration: none;
    color: white;
  }

  /* Contact page */
  .contact-container {
    width: 100%;
    min-height: calc(95vh - 100px);
    padding: 0;
    margin: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }

  .contact-container section {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
  }

  .contact-container section h1 {
    font-weight: bolder;
    margin: 30px 0;
    font-size: 60px;
  }

  .contact-container section input,
  .contact-container section textarea {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }

  .contact-container section button {
    margin: 30px 0;
  }

  .contact-container aside {
    display: none;
  }

  .contact-form {
    margin: 0 auto;
  }

  .send-button {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .send-button button {
    margin: 0;
  }
}

/* MQ tablets */

@media screen and (min-width: 481px) and (max-width: 900px) {
  /* Global style */
  body {
    background-color: whitesmoke;
  }
  /* Nav bar */
  header nav ul {
    display: none;
  }

  /* Hamburguer menu modal */
  header .modal-open-button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }

  header .modal-open-button img {
    width: 40px;
    height: 40px;
  }

  header .modal-open-button:focus,
  header .modal-open-button:active {
    outline: none;
    border: none;
  }

  header .modal-dialog {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  header .modal-content {
    display: flex;
    background-color: #191916;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header .modal-body {
    display: flex;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  header .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
  }

  header .mobile-logo {
    display: none;
  }

  header .btn-close {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    margin-right: 35px;
  }

  header .btn-close img {
    width: 40px;
    height: 40px;
  }

  header .btn-close:active,
  header .btn-close:focus,
  header .btn-close:hover {
    box-shadow: none;
  }

  header .modal-body ul {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-bottom: 300px;
  }

  header .modal-body ul li a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  header .modal-body ul li a:hover {
    text-decoration: underline;
  }

  header nav .navLogo img {
    height: 90px;
    width: auto;
  }

  /* Landing page */
  .card-container {
    margin-bottom: 0;
    background-color: whitesmoke;
  }

  .work-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: none;
  }

  .work-card img {
    width: 100%;
  }

  .work-card .black-label,
  .work-card .black-label-left {
    display: none;
  }

  .work-card .work-description {
    width: 100%;
    max-height: 100%;
    padding: 15px;
    box-shadow: none;
    height: 550px;
  }

  .work-card .work-description h2 {
    margin: 5px 0;
  }

  .work-card .work-img,
  .work-card .work-img-left {
    width: 100%;
    height: 450px;
    margin: 0;
    object-fit: fill;
    border-radius: 0;
    order: -1;
    margin-bottom: 10px;
  }

  .landing-img {
    width: 100vw;
    height: 100vh;
    margin-top: -20px;
    object-fit: cover;
  }

  .more-projects {
    background-color: whitesmoke;
  }

  .more-projects h2 {
    font-weight: 600;
    color: black;
  }

  /* Portfolio */
  .portfolio-container {
    width: 100vw;
  }

  .img-portfolio-container {
    margin: 15px auto;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .img-portfolio-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .portfolio-container h1 {
    font-size: 60px;
    margin-top: 30px;
  }

  .card-container {
    height: auto;
    width: 100vw;
  }

  /* About page */
  .data-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .data {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .data img {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .data div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  .data div h1 {
    margin: 0;
    font-size: 60px;
  }

  .data div p {
    text-align: justify;
    padding: 20px;
    line-height: 25px;
    font-weight: 350;
  }

  .data button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 40px auto;
  }

  .data button a {
    text-decoration: none;
    color: white;
  }

  /* Blog page */
  .blog-container {
    margin: 0;
  }

  .blog-container h1 {
    margin: 20px 0;
    font-size: 60px;
    background-color: whitesmoke;
  }

  .blog-title {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .blog-container section {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }

  .blog-container img {
    width: 90%;
    margin: 10px auto;
    height: 100%;
  }

  .blog-container h2 {
    line-height: 40px;
    margin: 10px;
  }

  .blog-container p,
  .blog-container h1 {
    padding: 20px;
    margin: 0;
  }

  .blog-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
  }

  .blog-container button a {
    text-decoration: none;
    color: white;
  }

  /* Contact page */
  .contact-container {
    width: 90%;
    min-height: calc(95vh - 100px);
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: whitesmoke;
  }

  .contact-container section {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
  }

  .contact-container section h1 {
    font-weight: bolder;
    margin: 30px 0;
    font-size: 60px;
  }

  .contact-container section input,
  .contact-container section textarea {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }

  .contact-container section button {
    margin: 30px 0;
  }

  .contact-container aside {
    display: none;
  }

  .contact-form {
    margin: 0 auto;
  }

  .send-button {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .send-button button {
    margin: 0;
  }
}

/* MQ laptops */

@media screen and (min-width: 1500px) and (max-width: 1800px) {
  /* Global style */
  body {
    background-color: whitesmoke;
  }
  /* Landing */
  .work-card {
    height: 730px;
    img {
      height: 100%;
    }
  }

  /* Portfolio */

  .portfolio-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .img-portfolio-container {
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .portfolio-container .img-portfolio-container img {
    width: 100%;
    height: 100%;
  }

  .portfolio-container .img-portfolio-container img:last-child {
    display: none;
  }

  /* Contact */
  .contact-container {
    width: 90%;
    margin: 150px auto 100px auto;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .contact-container section h1 {
    margin: 0;
  }

  .send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .send-button button {
    margin: 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .contact-form input,
  label,
  textarea {
    width: 90%;
    display: flex;
    margin: 15px 0 0 20px;
  }

  .contact-form textarea {
    resize: none;
    width: 90%;
  }

  /* Blog */
  .blog-container {
    margin-bottom: 100px;
    width: 100%;
  }

  .blog-container section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
  }

  .blog-container h1 {
    font-weight: bolder;
  }

  .blog-container img {
    margin-top: 10px;
    width: 80%;
    height: 80%;
  }

  .blog-container p {
    margin-bottom: 40px;
  }

  .blog-container button {
    margin-bottom: 40px;
  }
}

/* MQ larger laptops */

@media screen and (min-width: 1801px) and (max-width: 2300px) {
  /* Portfolio   */
  .portfolio-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .img-portfolio-container {
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .portfolio-container .img-portfolio-container img {
    width: 100%;
    height: 100%;
  }
  .portfolio-container .img-portfolio-container img:last-child {
    display: none;
  }

  /* Contact */
  .contact-container {
    display: flex;
    width: 90%;
    height: 90vh;
    margin: 200px auto;
  }

  .contact-container aside {
    display: flex;
    height: 700px;
    width: 40%;
    justify-content: center;
    align-items: center;
  }

  .contact-container aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-container section {
    flex: 1;
    padding: 20px;
  }

  .contact-form {
    display: flex;

    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    input,
    textarea {
      width: 90%;
    }
  }

  .send-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  /* Blog */

  .blog-container {
    margin-bottom: 100px;
    width: 100%;
    section {
      width: 90%;
    }
    h1 {
      font-weight: bolder;
    }
  }

  .blog-container img {
    margin-top: 10px;
    width: 80%;
    height: 80%;
  }

  .blog-container p {
    margin-bottom: 40px;
  }

  .blog-container button {
    margin-bottom: 40px;
  }

  /* About me */
  .data-container {
    margin: 250px auto;
    height: 800px;
    img {
      height: 900px;
    }
    section {
      height: 100%;
    }
  }
}
