@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

/* Body */
body {
  margin-top: 100px; /* Ajusta el margen superior según la altura del nav */
  & main {
    margin-top: 150px;
  }
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #191916;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .navLogo {
    display: flex;
    align-items: center;
    margin-right: auto;

    img {
      height: 100px;
      width: auto;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    li {
      list-style: none;
      padding: 0 25px;

      &:hover {
        text-decoration: underline;
        color: white;
        text-underline-offset: 5px;
      }
    }
  }
}
.menu-mobile-icon {
  display: none;
}
/* Data Section */
.data {
  background-color: #9a927b54;
  height: 400px;
  width: 100%;
  margin: 100px auto;
  display: flex;
  padding: 0px 100px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  img {
    margin-left: auto;
    height: 350px;
  }

  div {
    margin-left: 10px;
    text-align: center;

    h1 {
      color: black;
      font-size: 50px;
      font-weight: bolder;
      margin-top: 20px;
    }

    h2 {
      text-align: justify;
      padding: 20px;
      line-height: 25px;
      margin-left: 40px;
      font-weight: 400;
    }
  }
}

/* Footer */
footer {
  height: 340px;
  background-color: #191916;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 50px;
    margin-top: 40px;
  }

  .footer-links {
    margin-top: 40px;
    display: flex;
    gap: 40px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }

  .media-info {
    display: flex;
    margin-top: 40px;
    gap: 30px;
    margin-bottom: 10px;

    img {
      width: 45px;
      height: auto;
      margin-top: 20px;
    }
  }

  .copy-right {
    margin-top: 40px;
    color: rgb(149, 146, 146);
    margin-bottom: 45px;
    & a {
      color: whitesmoke;
      text-decoration: none;
    }
  }

  .footer-logo {
    height: 80px;
    width: auto;
  }
}

/* Work Card */

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.card-container {
  margin-bottom: 30px;
}

.work-card {
  display: flex;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 25px 25px 76px 8px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  width: fit-content; /* Ajusta el ancho al contenido */

  /* Elimina las alturas fijas */
  img {
    width: 584px;
    height: 700px;
    border-radius: 8px;
  }

  .work-description {
    text-align: justify;
    padding: 30px;
    width: 584px;
    height: 700px; /* Permite que la altura se ajuste automáticamente al contenido */
    line-height: 30px;

    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  &-left {
    .work-img {
      margin-right: 20px;
    }
  }

  &-right {
    .work-description {
      padding-right: 0;
    }

    .work-img {
      margin-left: 0;
    }
  }
}

.more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  text-align: center; /* Opcional, para centrar el texto */
}

.more-projects h2 {
  color: rgb(80, 80, 80);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.more-projects .more-button {
  width: 300px;
  height: auto;
  background-color: black;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 23px 33px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

/* Black Label */
.black-label,
.black-label-left {
  color: #fff;
  background-color: #000;
  margin-bottom: 40px;
  width: 544px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .label-text {
    font-size: 25px;
    text-transform: uppercase;
  }
}

.black-label {
  margin-left: -75px;
  margin-right: -75px;
}

.black-label-left {
  position: relative;
  z-index: 10;
  margin-left: 75px;
  margin-right: 75px;
  background-color: black;
  color: white;
  padding: 10px;
}

.work-img-left {
  position: relative;
  z-index: 1;
}
/* Portfolio css */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;

  margin: auto;
  & h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    font-weight: 700;
  }
}

.img-portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
  gap: 15px;
  & img {
    width: 450px;
    height: 450px;
    cursor: pointer;
  }
}
/* Blog */
/* Estilos para la secciÃ³n de blog */
.blog-container main,
.blog-container h1 {
  margin: 50px auto;
  text-align: center;
  font-size: 60px;
}

.blog-title {
  margin-bottom: 10px;
}

/* Estilo para las secciones del blog */
.blog-container section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
  text-align: justify;
  line-height: 35px;
  background-color: #9a927b54;
  padding: 5px 40px;
}

.blog-container h2 {
  text-align: justify;
  text-align: center;
  margin: 60px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Estilo para las imágenes en el blog */
.blog-container img {
  display: block;
  max-width: 100%;
  height: 450px;
  margin: 50px auto;
}

/* Estilo para los botones en el blog */
.blog-container button {
  display: block;
  margin: 20px auto; /* Centra horizontalmente el botón */
}

.blog-container button a {
  text-decoration: none;
  color: white;
}
/* Contact */

/* Estilo para el contenedor de contacto */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  max-height: 750px;
  margin: 200px auto;
  background-color: #9a927b54;
  padding: 20px;
}

.contact-container img {
  height: 650px;
}

/* Estilos para la secciÃ³n de contacto */
.contact-container aside {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px;
}

.contact-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contact-container section h1 {
  font-size: 60px;
  margin-bottom: 30px;
  justify-content: start;
  align-content: start;
}

/* Estilo para el formulario de contacto */
.contact-form {
  width: 100%;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding-left: 3px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid black;
  outline: none;
}

.contact-form textarea {
  resize: none; /* Impide el cambio de tamaÃ±o del Ã¡rea de texto */
}

/* Estilos para los botones en el formulario y otros lugares */
button {
  background-color: black;
  margin-left: 200px;
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 23px 33px;
  font-size: 1em;
  font-weight: 500;
}

/* Media queries */

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 480px) {
  /* Nav */
  nav ul {
    display: none;
  }

  .menu-mobile-icon {
    display: flex; /* Mostrar solo en resoluciones móviles */
    align-items: center;
    justify-content: center; /* Centrar horizontalmente los elementos */
    cursor: pointer;
    width: 35px;
    height: 35px;
  }

  nav .navLogo img {
    height: 90px;
    width: auto;
  }

  /* Landing Main container */
  .card-container {
    margin-bottom: 0px;
    background-color: #9a927b22;
  }
  .work-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .work-card img {
    width: 100%;
  }

  .work-card .black-label,
  .work-card .black-label-left {
    display: none;
  }

  .work-card .work-description {
    width: 100%;
    padding: 15px;
  }

  .landing-img {
    width: 100vw;
    height: 100vh;
    margin-top: -20px;
    object-fit: cover;
  }

  .more-projects {
    background-color: #9a927b22;
    h2 {
      font-weight: 600;
      color: black;
    }
  }

  /* Portfolio */
  .portfolio-container {
    width: 100vw; /* Ajusta el ancho al 100% del viewport */
    row-gap: 0px;
    background-color: #9a927b22;
  }

  .img-portfolio-container {
    margin: 15px auto;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .img-portfolio-container img {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px;
  }

  .portfolio-container h1 {
    font-size: 50px;
    margin-top: 30px;
  }

  /* Work card mobile view */
  .card-container {
    height: auto;
    width: 100vw;
  }

  .work-card {
    box-shadow: none;
  }

  .work-card .work-description {
    width: 100%;
    height: 100%;
    box-shadow: none;
    padding: 15px;
  }

  .work-card .work-description h2 {
    margin: 5px 0;
  }

  .work-card .work-img,
  .work-card .work-img-left {
    width: 100%; /* Ocupa el 100% del ancho disponible del contenedor */
    height: 450px;
    margin: 0;
    object-fit: fill;
    border-radius: 0px;
  }

  .work-img,
  .work-img-left {
    order: -1; /* Mueve las imágenes al principio */
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
  }

  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #9a927b22;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .data img {
    width: 100%; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 350px;
    margin-bottom: 20px; /* Espacio entre la imagen y el contenido */
    object-fit: cover;
  }

  .data div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;

    & h2,
    h1 {
      margin: 0;
    }
  }
  /* Blog */

  .blog-container {
    margin: 0px;
  }

  .blog-container h1 {
    margin: 20px 0;
    background-color: #9a927b22;
  }

  .blog-title {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .blog-container section {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #9a927b22;
  }

  .blog-container img {
    width: 100%;
    height: 100%;
    margin: 10px 0;
  }
  .blog-container h2 {
    line-height: 40px;
    margin: 10px;
  }
  .blog-container p,
  .blog-container h1 {
    padding: 20px;
    margin: 0;
  }

  .blog-container button {
    display: flex;
    justify-content: center; /* Centra horizontalmente el botón */
    align-items: center;
    margin: 60px auto;
  }

  .blog-container button a {
    text-decoration: none;
    color: white;
  }
}
