body {
  .portfolio-container {
    // Main container for the portfolio section
    width: 90%;
    margin: auto;

    h1 {
      // Heading inside the portfolio container
      text-align: center;
      margin-top: 150px;
    }

    .img-portfolio-container {
      // Container for portfolio images
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 40px auto;
      gap: 15px;

      .img-wrapper {
        position: relative;

        img {
          // Images inside the img-portfolio-container
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        .overlay-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 20px;
          text-align: center;
          opacity: 0;
          transition: opacity 0.3s ease;
          pointer-events: none;
          text-transform: uppercase;
        }

        &:hover img {
          filter: brightness(30%);
        }

        &:hover .overlay-text {
          opacity: 1;
        }
      }
    }
  }
}
