body {
  background-color: whitesmoke;
  margin-top: 100px;
  overflow-x: hidden;
  main {
    margin-top: 150px;
  }
  h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
  }
}
body.no-scroll {
  overflow: hidden;
}
